<section class="row profil">
    <section class="col-md-6 profilImage">
        <span class="blockImage"></span>
    </section>
    
    <section class="col-md-6">
        <section>
            <h3>Informations personnelles</h3>
        </section>
        <section>
            <p>Nom <span><%= user.nom %></span></p>
            <p>Prenom <span><%= user.prenom %></span></p>
            <p>Email <span><%= user.email %></span></p>
            <p>Date de naissance <span><%= user.date_naissance %></span></p>
        </section>
        
        <section>
            <form action="/deleteUser" method="post">
                <input type="hidden" name="id" value="<%= user.id %>">
                <button class="btn btn-danger">supprimer profil</button>
            </form>
        </section>
    </section>
</section>