<section>
    <h2>Programme TV</h2>
    <hr>
    <table class="table table-hover table-bordered text-center">
        
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>DESCRIPTION</th>
            <th>DATE DIFFUSION</th>
            <th>HEURE DiFFUSION</th>
        </tr>

        <% programme.forEach(element=> { %>
            <tr>
                <td>
                    <%= element.id %>
                </td>
                <td>
                    <%= element.nom %>
                </td>
                <td>
                    <%= element.description %>
                </td>
                <td>
                    <%= element.date_diffusion %>
                </td>
                <td>
                    <%= element.heure_diffusion %>
                </td>
            </tr>
            <% }); %>
    </table>
</section>