<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bold 13 - <%= title %></title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/programmetv.css">
    <link rel="stylesheet" href="/css/profil.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">

    <script src="/js/script.js" async></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <% try { %>
        <%- include("../partials/navbar", {title : locals.title, user : user }) %>
    <% } catch (e) { %>
        <%- include("../404") %>
    <% } %>

    <main class="container-fluid">
        <%- body %>
    </main>
    <%- include("../partials/footer") %>
</body>

    
</html>